@font-face {
    font-family: 'Handjet';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(Handjet.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

body {
    margin: 0;
    background: #171717;
    color: #f1f1f1;
    font-size: 24px;
    font-family: 'Handjet', 'Courier New', Courier, monospace;
    font-optical-sizing: auto;
    min-height: 100vh;
}
a {
    color: #f1f1f1;
}
p:first-child {
    margin-top: 0;
}
small {
    font-size: 0.667em;
}
button,
.button {
    color: #000;
    display: inline-block;
    margin: 0 20px 20px 0;
    padding: 12px 24px;
    border: none;
    font-size: 2.4rem;
    font-family: 'Handjet', 'Courier New', Courier, monospace;
    text-decoration: none;
    cursor: pointer;
}
button:focus-visible,
.button:focus-visible {
    outline: 3px solid #ff1b1b;
}
video {
    width: 100%;
    height: auto;
}
.content {
    box-sizing: border-box;
    font-size: 3rem;
    padding: 20px;
    margin: 0 auto;
    max-width: 1024px;
}
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #171717;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body.active #loading {
    display: flex;
}
#loading .spinner {
    width: 400px;
    height: 400px;
    position: relative;
}
#loading .spinner div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#loading .spinner div.spinner1 {
    background-image: url(loader1.png);
    animation: spin 4s ease-in-out infinite;
}
#loading .spinner div.spinner2 {
    background-image: url(loader2.png);
    animation: spin 2s ease-in-out infinite;
    animation-direction: reverse;
}
#loading .spinner div.spinner3 {
    background-image: url(loader3.png);
    animation: spin 1s ease-in-out infinite;
}
#loading .loading-text {
    font-size: 3rem;
    margin-top: 1rem;
}
#canvas {
    position: fixed;
    display: none;
}
body.active #canvas {
    display: block;
}
#file-picker {
    visibility: hidden;
}
#start {
    background: #ff47e7;
}
#start:hover {
    color: #ff47e7;
    background: #2b2b2b;
}
#start.loading,
#start.loading:hover {
    background: linear-gradient(-45deg, #ff47e7, #f5ac00, #ff47e7, #f7de38);
	background-size: 400% 400%;
	animation: gradient 3s ease infinite;
    color: #000;
}
p.button-group {
    margin-bottom: 0.5rem;
}
p.button-group + p {
    margin-top: 0;
    line-height: 1.667rem;
}
#download-pc {
    background: #f5ac00;
}
#download-pc:hover {
    color: #f5ac00;
    background: #2b2b2b;
}
#download-mac {
    background: #f7de38;
}
#download-mac:hover {
    color: #f7de38;
    background: #2b2b2b;
}